[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

ipython = "*"
ipdb = "*"


[packages]

cython = "==0.25.2"
buildozer = "==0.32"
python-dateutil = "*"
pillow = "4.3.0"
pygame = "1.9.3"
kivy = "==1.9.1"